h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.speech-bubble-left {
    border-radius: 20px;
    padding: 5%;
    position: relative;
    margin-bottom: 20px;
}

.speech-bubble-left::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 25%;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-75%);
    background: inherit;
}

.speech-bubble-center {
    border-radius: 20px;
    padding: 5%;
    position: relative;
    margin-bottom: 20px;
}

.speech-bubble-center::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-75%);
    background: inherit;
}

.speech-bubble-right {
    border-radius: 20px;
    padding: 5%;
    position: relative;
    margin-bottom: 20px;
}

.speech-bubble-right::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 75%;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-75%);
    background: inherit;
}